<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAMhfpUpgVvdOEncXgXsLMEC4N4yjclOho</string>
	<key>GCM_SENDER_ID</key>
	<string>626883868212</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.xClone</string>
	<key>PROJECT_ID</key>
	<string>x-clone-cf3dd</string>
	<key>STORAGE_BUCKET</key>
	<string>x-clone-cf3dd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:626883868212:ios:eb1ad4a241ec9de6527c61</string>
</dict>
</plist>